<h1>Root Causes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Kpi type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @root_causes.each do |root_cause| %>
      <tr>
        <td><%= root_cause.kpi_type.name %></td>
        <td><%= root_cause.name %></td>
        <td><%= root_cause.description %></td>
        <td><%= link_to 'Show',  root_cause %> | <%= link_to 'Edit', edit_root_cause_path(root_cause) %> | <%= link_to 'Destroy', root_cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Root Cause', new_root_cause_path %>
