<div class="card">
  <h5 class="card-header">Call details</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <p class="m-0">Port</p>
        <p class="m-0"><strong><%= scale.port.name %></strong></p>
      </div>
      <div class="col-2">
        <p class="m-0">Carrier</p>
        <p class="m-0"><strong><%= scale.carrier.name %></strong></p>
      </div>
      <div class="col-2">
        <p class="m-0">Vessel</p>
        <p class="m-0"><strong><%= scale.vessel.name %></strong></p>
      </div>
      <div class="col-2">
        <p class="m-0">Voyage</p>
        <p class="m-0"><strong><%= scale.voyage %></strong></p>
      </div>
      <div class="col-2">
        <p class="m-0">Service</p>
        <p class="m-0"><strong><%= scale.service %></strong></p>
      </div>
    </div>
  </div>
</div>
