<p id="notice"><%= notice %></p>

<h1>Checklist Root Causes</h1>

<table>
  <thead>
    <tr>
      <th>Checklist</th>
      <th>Root cause</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklist_root_causes.each do |checklist_root_cause| %>
      <tr>
        <td><%= checklist_root_cause.checklist %></td>
        <td><%= checklist_root_cause.root_cause %></td>
        <td><%= link_to 'Show', checklist_root_cause %></td>
        <td><%= link_to 'Edit', edit_checklist_root_cause_path(checklist_root_cause) %></td>
        <td><%= link_to 'Destroy', checklist_root_cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checklist Root Cause', new_checklist_root_cause_path %>
