<h1>Kpis</h1>

<table class="table">
  <thead>
    <tr>
      <th>Carrier</th>
      <th>Port</th>
      <th>Name</th>
      <th>target</th>
      <th>Max limit</th>
      <th>Min limit</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @kpis.each do |kpi| %>
      <tr>
        <td><%= kpi.carrier.name %></td>
        <td><%= kpi.port.name %></td>
        <td><%= kpi.kpi_type.name %></td>
        <td><%= kpi.target %></td>
        <td><%= kpi.max_limit %></td>
        <td><%= kpi.min_limit %></td>
        <td><%= link_to 'Show',  kpi %> | <%= link_to 'Edit', edit_kpi_path(kpi) %> | <%= link_to 'Destroy', kpi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpi', new_kpi_path %>
