<p>
  <strong>Carrier:</strong>
  <%= @kpi.carrier %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kpi.kpi_type.name %>
</p>

<p>
  <strong>target:</strong>
  <%= @kpi.target %>
</p>

<p>
  <strong>Max limit:</strong>
  <%= @kpi.max_limit %>
</p>

<p>
  <strong>Min limit:</strong>
  <%= @kpi.min_limit %>
</p>

<%= link_to 'Edit', edit_kpi_path(@kpi) %> |
<%= link_to 'Back', kpis_path %>
