<div class="card">
  <h5 class="card-header">Checklist details</h5>
  <div class="card-body">
    <div class="row">

      <div class="col-2 mb-2">
        <p class="m-0">draft_arrival</p>
        <p class="m-0"><strong><%= checklist.draft_arrival %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">tugs_arrival</p>
        <p class="m-0"><strong><%= checklist.tugs_arrival %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">eosp</p>
        <p class="m-0"><strong><%= checklist.eosp %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">pob_arrival</p>
        <p class="m-0"><strong><%= checklist.pob_arrival %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">berthed</p>
        <p class="m-0"><strong><%= checklist.berthed %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">berthed</p>
        <p class="m-0"><strong><%= checklist.berthed %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">gangway_ready</p>
        <p class="m-0"><strong><%= checklist.gangway_ready %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">started_ops</p>
        <p class="m-0"><strong><%= checklist.started_ops %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">completed_ops</p>
        <p class="m-0"><strong><%= checklist.completed_ops %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">terminal_requested</p>
        <p class="m-0"><strong><%= checklist.terminal_requested %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">pob_departure</p>
        <p class="m-0"><strong><%= checklist.pob_departure %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">last_line</p>
        <p class="m-0"><strong><%= checklist.tugs_arrival %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">draft_departure</p>
        <p class="m-0"><strong><%= checklist.draft_departure %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">tugs_departure</p>
        <p class="m-0"><strong><%= checklist.tugs_departure %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">remarks</p>
        <p class="m-0"><strong><%= checklist.remarks %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">waiting_time</p>
        <p class="m-0"><strong><%= checklist.scale.vw_checklist.waiting_time %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">idle_time_arrival</p>
        <p class="m-0"><strong><%= checklist.scale.vw_checklist.idle_time_arrival %></strong></p>
      </div>
      <div class="col-2 mb-2">
        <p class="m-0">idle_time_departure</p>
        <p class="m-0"><strong><%= checklist.scale.vw_checklist.idle_time_departure %></strong></p>
      </div>
    </div>
  </div>
</div>
