
<%= simple_form_for(@checklist) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :scale %>
    <%= f.input :draft_arrival %>
    <%= f.input :tugs_arrival %>
    <%= f.input :eosp %>
    <%= f.input :pob_arrival %>
    <%= f.input :berthed %>
    <%= f.input :gangway_ready %>
    <%= f.input :started_ops %>
    <%= f.input :completed_ops %>
    <%= f.input :terminal_requested %>
    <%= f.input :pob_departure %>
    <%= f.input :last_line %>
    <%= f.input :draft_departure %>
    <%= f.input :tugs_departure %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
